<div class="container">
  <div class="input-container">
    <input type="text" id="search" placeholder="Search">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <!-- <th>Register Date</th> -->
        <th class="action">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <!-- <td>{{ user.registrationDate | date:'medium' }}</td> -->
        <td class="action">
          <i class="fa-solid fa-pen" (click)="openModal(user)"></i>
          <i class="fa-solid fa-trash" (click)="deleteUser(user)" ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal" tabindex="-1" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
          <label for="photoURL" class="form-label">Photo URL</label>
          <input type="text" class="form-control" id="photoURL">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="edit()">Save changes</button>
      </div>
    </div>
  </div>
</div>
