<header>
    <h2 class="logo">Logo</h2>
    <nav class="navigation">
    <!-- <button class="btnLogin-popup">Login</button> -->
    </nav>
</header>
<div class="wrapper">
    <div class="form-box login">
        <h2>Reset Password</h2>
        <form [formGroup]="recuperarUsuario">
            <div class="input-box">
                <span class="icon"><img src="../../../assets/img/mail.svg" alt="user" draggable="false"></span>
                <input type="email" required formArrayName="email">
                <label>Email</label>
            </div>
            <button type="submit" class="btn">Send Email</button>
            <div class="login-register">
                <p><a routerLink="/login" class="register-link">Back</a></p>
            </div>
        </form>
    </div>
    
</div>