<header>
    <h2 class="logo">Logo</h2>
    <nav class="navigation">
    <!-- <button class="btnLogin-popup">Login</button> -->
    </nav>
</header>
<div class="wrapper">
    <div class="form-box login">
        <h2>Sign In</h2>
        <form action="a">
            <div class="input-box">
                <span class="icon"><img src="../../../assets/img/mail.svg" alt="email"></span>
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><img src="../../../assets/img/lock.svg"></span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">
                   Remember me</label>
                <a routerLink="/forgot-password">Forgot password?</a>
            </div>
            <button type="submit" class="btn">Sign In</button>
            <div class="login-register">
                <p>Don't have an account? <a routerLink="/register" class="register-link">Register</a></p>
            </div>
        </form>
    </div>
    
</div>